.form-section {
  padding: 50px 20px;
  background-color: #fce4e4;
}

.waitlist-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #fd4502;
  text-align: center;
}

.waitlist-form input {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 2px solid #ff7f50;
  border-radius: 5px;
  font-size: 1rem;
}

.form-btn {
  background-color: #fd4502;
  color: white;
  padding: 10px 20px;
  border: 5px  solid #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
  margin: 20px 20px;
  z-index: 2;
}
.form-btn-container{
  position: relative;
  background: transparent;
  border: 2px solid #fd4502;
  height:  45px;
  width: 170px;
  border-radius: 25px;
  left: -180px;
  top: 9px;
  z-index: 1;
}

.form-btn:active{
  transform:translateY(9px) translateX(9px);
}
button:focus{
  outline:none;
}

.thank-you {
  font-size: 2rem;
  color: #fd4502;
  text-align: center;
}

@media (max-width:1392px) {
  .form-btn-container{
    height: 70px;
  }
  
}
@media (max-width: 1000px){
  .form-btn-container{
    height: 60px;
    width: 200px;
    left: -130px;
  }
}

@media (max-width: 768px) {
  .waitlist-form input {
    width: 250px;
  }
  .form-btn-container{
    height: 70px;
    width: 200px;
    left: -120px;
  }
}
@media (max-width:695px) {
  .form-btn-container{
    height: 80px;
    left: -110px;
  }
  
}

@media (max-width: 600px) {
  .waitlist-form input {
    width: 200px;
  }
  .waitlist-form{
    display: flex;
    flex-direction: column;
  }
  .form-btn-container{
    height: 45px;
    top: -56px;
    left: 10px;
    width: 185px;
  }
}
