* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Arial', sans-serif;
}

@media (max-width: 768px) {
  .mobile-container {
      width: 200px;
      height: 400px;
  }

  h1 {
      font-size: 2rem;
  }

  p {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .mobile-container {
      width: 150px;
      height: 300px;
  }

  h1 {
      font-size: 1.5rem;
  }

  p {
      font-size: 0.9rem;
  }
}


.App {
  text-align: center;
  font-family: Arial, sans-serif;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
